In [15]:
import sqlite3
import pandas as pd

# Connexion à la première base de données
conn = sqlite3.connect('database.db')
# Lire la table depuis cette base de données et l'afficher
df = pd.read_sql_query("SELECT * from participant", conn)[['matchId', 'teamId', 'win', 'championName']]

# Fermer la connexion à la première base de données
conn.close()
df

               matchId  teamId  win championName
0      EUW1_6648462202     100    0     Malphite
1      EUW1_6648462202     100    0      Kindred
2      EUW1_6648462202     100    0     Tristana
3      EUW1_6648462202     100    0    Seraphine
4      EUW1_6648462202     100    0         Rell
...                ...     ...  ...          ...
13505  EUW1_6645511796     200    1        Teemo
13506  EUW1_6645511796     200    1       Lillia
13507  EUW1_6645511796     200    1     Renekton
13508  EUW1_6645511796     200    1        Kaisa
13509  EUW1_6645511796     200    1         Rell

[13510 rows x 4 columns]

In [16]:
grouped = df.sort_values('teamId').groupby('matchId')
dataset = pd.DataFrame(columns=['matchId', 'champions', 'win'])
for id, group in grouped:
    print(group)
    
    
    break

              matchId  teamId  win championName
9100  EUW1_6615291154     100    0       Aatrox
9101  EUW1_6615291154     100    0         Ekko
9102  EUW1_6615291154     100    0       Akshan
9103  EUW1_6615291154     100    0       Samira
9104  EUW1_6615291154     100    0        Rakan
9109  EUW1_6615291154     200    1      Alistar
9108  EUW1_6615291154     200    1         Ashe
9107  EUW1_6615291154     200    1     Tristana
9105  EUW1_6615291154     200    1     Renekton
9106  EUW1_6615291154     200    1      Nidalee