In [ ]:
import sqlite3
import pandas as pd
import json

# Connexion à la première base de données
conn = sqlite3.connect('database.db')
# Lire la table depuis cette base de données et l'afficher
df = pd.read_sql_query("SELECT * from participant", conn)[['matchId', 'teamId', 'win', 'championName']]

# Fermer la connexion à la première base de données
conn.close()
df

In [77]:

champion_list = pd.read_json()



grouped = df[:20].sort_values('teamId').groupby('matchId')
dataset = pd.DataFrame(columns=['matchId', 'champions', 'win'])
for id, group in grouped:
    
    champion_encoded_blue = [0]*len(champion_list)
    for champ in group['championName'].iloc[:5]:
        champion_encoded_blue[champion_list.index(champ.lower())] = 1

    champion_encoded_red = [0]*len(champion_list)
    for champ in group['championName'].iloc[5:10]:
        champion_encoded_red[champion_list.index(champ.lower())] = 1

    champion_encoded = champion_encoded_blue + champion_encoded_red
    new_line = pd.DataFrame([[group['matchId'], champion_encoded, 'win']], columns=['matchId', 'champions', 'win'])
    dataset = pd.concat([dataset, new_line], ignore_index=True)
    
dataset

  matchId champions win
0       a         b   c
1       a         b   c