In [2]:
import sqlite3
import pandas as pd

# Connexion à la première base de données
conn = sqlite3.connect('database.db')

# Lire la table depuis cette base de données et l'afficher
df1 = pd.read_sql_query("SELECT * from joueur", conn)
# Fermer la connexion à la première base de données
conn.close()

df1

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak,puuid,level,matches
0,EOgcQV2IbmvCfu6DWspG_LlyOtxF5Wiadkr_fVhujyKz_L4N,TwTv Raideru,1067,I,146,99,0,0,0,0,iB5vCrG5f5bFxTUCMkYVAqLAqakhsolDUSRxJL9Gc6qlgn...,198,"[""EUW1_6648462202"", ""EUW1_6648421796"", ""EUW1_6..."
1,FXFhCq_epeKxwHFbGUarfcxsOghqKxthv6rfldZZsxMyQz...,SPOLFCEI,1470,I,399,347,1,0,0,0,gENbtS-dKchFLFSVQIBgnwHqJq-jXQJVcJ7gI_KS-CjG_h...,475,"[""EUW1_6649784596"", ""EUW1_6649703310"", ""EUW1_6..."
2,aP-u5IiMna3LwxjqdWifw5R6-j_fvkDpJQfp4rUz0FXdEgQ,Raiju Son Hak,1002,I,110,71,0,0,0,0,lxztFVBLXMDPiq-LEBfB9YBpBfw8e69zuQa3AE2mh6OrGA...,145,"[""EUW1_6644795901"", ""EUW1_6641697219"", ""EUW1_6..."
3,bo8reEnxgveW2u1aPXRbFv-qNFCOMrd4cEs2BCDonkPNyx3m,Thørs Snorresson,1612,I,220,167,1,0,0,0,QnnT-kjpfYZKCSDNzw9MjtfwH0a2LrtYwFwPHYb4ugIezi...,232,"[""EUW1_6638813430"", ""EUW1_6638728491"", ""EUW1_6..."
4,nfTsJrQK21VbfOcRNq8OEaiWGbFmFCl-zT8s8PmKGJyG0bw,Metroflox,1061,I,137,100,0,0,0,1,lzI1Ur0USfCiChvGNE4TBnG7cTnX4N9HLPobowg3V-jDY-...,732,"[""EUW1_6645444992"", ""EUW1_6644826484"", ""EUW1_6..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,6bXMKeujhDzwmy33dkcol09UsC2DEKXHbcDO9Nf8H_f2QtA,LiL TommyG,1030,I,112,76,0,0,1,0,lF_rLXTK5cCHfc4qY4v77aP2Yl5OAltW-YfsSdVF3f30WC...,933,"[""EUW1_6649408009"", ""EUW1_6647506077"", ""EUW1_6..."
296,JZjix0mOA5YVWa_xE4AQnXExz4wokEyHiA6MLpuCuK6Nc9...,Dealersz,975,I,225,191,0,0,1,1,U6Vcf_E_7lL4OiHL_quHk-XqkN_x3emZpxTw2DL2LzMseZ...,263,"[""EUW1_6640484902"", ""EUW1_6640406269"", ""EUW1_6..."
297,MOJHIOz6IgMJXmWKVwx0vO1SPQo6kY4ARlbEo1iu5z0uebY,VIVE Serendrip,984,I,169,137,0,0,1,0,akqal4gZczqzb5zlx7y2FZBUptZxzIB-mllzYzztJ3cZin...,808,"[""EUW1_6649550353"", ""EUW1_6649307256"", ""EUW1_6..."
298,tIFRPuq0n-9b_XV6Ake9FEeJdx24uVBuRzE1HDjwUtgfZn8,Iuger,1301,I,283,234,1,0,0,0,CcUZslBj7ZDP0AN4eKH0VUiLZhLW-0Fd7CcEy9hpE3-bu2...,183,"[""EUW1_6649080970"", ""EUW1_6649029595"", ""EUW1_6..."
299,fGc1LLW1aW4LuMGnk56gZmg5zyKFVsHS6HF9YcWkd3tVh24,chill falls1,1115,I,287,250,0,0,1,1,eFdeHhWicM7Y6-KWT5JdoXueM5EP3THY0C6-0GDk-DKrKF...,753,"[""EUW1_6648677773"", ""EUW1_6647558707"", ""EUW1_6..."

In [3]:
# Connexion à la première base de données
conn = sqlite3.connect('database.db')
# Lire la table depuis cette base de données et l'afficher
df2 = pd.read_sql_query("SELECT * from participant", conn)

# Fermer la connexion à la première base de données
conn.close()

df2

,puuid,matchId,gameDuration,teamId,totalDamageDone,win,totalMinionsKilled,lane,role,championName,goldEarned,deaths,assists,kills
0,iB5vCrG5f5bFxTUCMkYVAqLAqakhsolDUSRxJL9Gc6qlgn...,EUW1_6648462202,2043,100,16076,0,167,TOP,SOLO,Malphite,9397,5,7,0
1,kJlLIGIJglQmEtiAWVSzfpkNmlOi1T8CBAXtvD2oT_ht5g...,EUW1_6648462202,2043,100,21848,0,46,JUNGLE,NONE,Kindred,14439,5,5,6
2,RfW1Rt2NKGp8j8CCCFeni6ZUyhS0rL1u4Qa6lE7QJzf6Mg...,EUW1_6648462202,2043,100,19797,0,267,MIDDLE,SOLO,Tristana,15040,7,2,5
3,xEqdPTHkFjobth-Hq_KTD1QTxoCAr5DbWOrfUCoI05a8c9...,EUW1_6648462202,2043,100,18644,0,246,BOTTOM,CARRY,Seraphine,14153,4,7,6
4,y054I5SvukKw0wDQApRW8khwO1rwWX_0-k3Bc_WonZY0EK...,EUW1_6648462202,2043,100,7734,0,30,BOTTOM,SUPPORT,Rell,8389,5,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13505,YlzOsL5bePwJglJUvglKbv-qOeVbTaISP7P9bvX4JObbCh...,EUW1_6645511796,1734,200,19002,1,198,TOP,DUO,Teemo,10117,6,6,3
13506,Iwf4ddy7CsgJgEQesTEx-qUsjwSsQS2L9sQ82kAKxnlT-x...,EUW1_6645511796,1734,200,32058,1,48,JUNGLE,NONE,Lillia,14074,1,9,12
13507,H3QN29x-s79N9cEBNfhp0fooQaF5mdFty126HIASQkVDvi...,EUW1_6645511796,1734,200,20019,1,253,TOP,DUO,Renekton,12006,2,5,5
13508,zEQl2rtm20LWtmfhFaNX_qELrxIN_fUy-fdvHwxJhCl_l0...,EUW1_6645511796,1734,200,35812,1,244,BOTTOM,CARRY,Kaisa,15604,6,9,11
13509,-YKtghOw91WFlV-vGajMk17SKdBnG6B_Kilbg8eAavaX9h...,EUW1_6645511796,1734,200,8144,1,30,BOTTOM,SUPPORT,Rell,8875,2,23,3

In [4]:
# Connexion à la première base de données
conn = sqlite3.connect('database.db')

df3 = pd.read_sql_query("SELECT * from utilisateur", conn)
# Fermer la connexion à la première base de données
conn.close()

df3

,id,login,password,isadmin
0,None,thomas,"b'\xfc\xf27P\xbf?5\x05\xe3jo3*\x0b\x85%g\xb3g,...",0
1,None,bamara,b'\xe5\xb8\xf9\xd0<\x93\xe5^\x81\xc2\xde\x94\\...,0
2,None,test,b'\x1d\x11\x17\xbb)\xb8?>\x91\x82U\xe5\x92\x95...,0
3,None,charles,b'\x8b\xddT\xd5\x8c\xa8u\x81\xc7W\x88\xdb\xa6\...,0
4,None,test1,b'\xd4\x8d\xc8d\xb8\x84\x88\xd5\xad\xff\xa3\xb...,0
5,None,Shin,b'l~\xdb\x1fQ\xee\xd2?\x9b\xf8\xbd\xc7Y\xf0\xa...,0
6,None,bam,b'\x1b\x95\x82[\xe2\x1d\x86\xcc\xc0!\xd6\x82O\...,0
7,None,teemo,b'B\xab\xcc\xd4\xe3\x02\x9b\xf4w\x0cg&I\xebh|\...,0
8,None,teemo2,b'm\x80o\x9d\x14\xe3\xd8\xe4dV\x1c\x08&\xb7\x1...,0
9,None,teem,b'\xc6\xef\xf1@\x95Fw\xb9S;\xc1C\xd7V\xdc&I\x8...,0
10,None,best_user,b'\x19\x05\xa1$\xe8\xc3\n\x10\xd2i\xf1KH\xf1~\...,0
11,None,teemo_ultime,b'\xac\x85\xb3\r\x94\xfc\xa9\x00\xfe\x1fY\xb0\...,0

In [4]:
import sqlite3
import hashlib

conn = sqlite3.connect('database.db')
cursor = conn.cursor()

cursor.execute('INSERT INTO utilisateur (id, login, password, isadmin) VALUES (?,?,?,?)', (0, 'teemo', hashlib.pbkdf2_hmac('sha256', '1234'.encode('utf-8'), 'teemo'.encode('utf-8'), 100), 0))
conn.commit()
cursor.execute('INSERT INTO utilisateur (id, login, password, isadmin) VALUES (?,?,?,?)', (1, 'admin', hashlib.pbkdf2_hmac('sha256', 'admin'.encode('utf-8'), 'admin'.encode('utf-8'), 100), 1))
conn.commit()

In [5]:
# import required module
from playsound import playsound
 
# for playing note.wav file
playsound('../../GODS.wav')
print('playing sound using  playsound')