In [16]:
import sqlite3
import pandas as pd

# Connexion à la première base de données
conn = sqlite3.connect('database.db')

# Lire la table depuis cette base de données et l'afficher
df1 = pd.read_sql_query("SELECT * from joueur", conn)
# Fermer la connexion à la première base de données
conn.close()

df1

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak,puuid,level,matches
0,CYi9inPQJ_6FfbMlP92Kdf0RBwuH1VYmsGtgqU-VZ9f86lgr,T1 FSZ,1213,I,235,195,1,0,0,0,U6VZgygUjZjYtSegG71z-5cH5LwM334buqlKuxGxWgmvxO...,912,"[""EUW1_6627571462"", ""EUW1_6627524028"", ""EUW1_6..."
1,SAUQa1Tf-cmundUP30CZD2rEFH71u6n2fYfBUa1jUcfF1JE,STEND 2026,1221,I,277,240,0,0,0,0,cnk9Di5MKnv2I0dfiDgefnoLDndqUVQRxeVv3i-0Hvzlk6...,509,"[""EUW1_6627913011"", ""EUW1_6627833946"", ""EUW1_6..."
2,7aKaSHFRX3v2b1tL7K54DfRSZr-fsxMCFMltwmpfgK1OZnte,EUSEUSEUS,1030,I,206,170,0,0,1,1,fXKWiYuwwUPmmLpYgCkkhCCJ6EZhcsE3fwdxipaVWcFlFM...,744,"[""EUW1_6627504160"", ""EUW1_6625296610"", ""EUW1_6..."
3,cx5Y41rbI-NXin9wEdKfSHcsoOJQjqgdJokHSNcQpXa2oWU,JG top boy,1520,I,287,232,1,0,0,0,4ltbTnb0922kWuJnZ-MW1uOL6fvVX6mcsYY2J1hzd-iCBo...,741,"[""EUW1_6627879600"", ""EUW1_6627722913"", ""EUW1_6..."
4,CLSvhaSE7EK4uStlIEsfJ_8bsuV8yuhRNlbUcl_fd7Qan74,Shëun,987,I,178,123,0,0,1,0,fDr_DSLyRaq0FSfyv21Y6CiQUqGhFoIXsoN6iUOG_ZGOaB...,260,"[""EUW1_6624723668"", ""EUW1_6624688255"", ""EUW1_6..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,TB7Ve6-aE6hqsIAYQsW0zB-SBgqmYClKjNF3Fdb3PXfXKio,l will engage,1159,I,259,229,1,0,0,0,zNUjgaQMV8Y94KWx6K0GeEJtY-yBrOnsQNdnKdBO6BpanL...,732,"[""EUW1_6627576227"", ""EUW1_6627440130"", ""EUW1_6..."
296,DGEeYSibge7Qej3eO09_gKqk7wX-iakBf1GqGl3bgt-08KE,BurgerMäker,1114,I,97,57,0,0,0,0,TBgq5w6fhXiEdqJaSgXoCEVE0CQnoUxtXvt8cF4_zU7LpB...,498,"[""EUW1_6626771490"", ""EUW1_6626526926"", ""EUW1_6..."
297,L5xFfZN5JjT_jq5ch0NPBdtvkaG1jPBlzVlXI0agrbTGJK0,David Goggins 1,1182,I,216,180,1,0,0,1,opCiNF_LGEYPl2O7gZ9luoAfQN3oHHr9JrKh5oZGlJfOSV...,631,"[""EUW1_6624029372"", ""EUW1_6623973145"", ""EUW1_6..."
298,7JacGVSXeBJ1KVgoEVVuHpyIbLT55VSc5r0DHQt9agVUaF6q,Angel ôf Death,1030,I,143,100,0,0,0,0,mybJzEDSurWd5JQFDmp12Q_x3lKvFpMOhVEAJ-dRBzGsPN...,102,"[""EUW1_6608961762"", ""EUW1_6608883174"", ""EUW1_6..."
299,P7wlM187WR6qedFlGXhBXeGbHj1vfIPAIGRWSJOeZuFkoR8,MARIABECERRA FAN,1173,I,243,206,0,0,0,0,xu53CWoV7UeRAuhvpEOHp97nrZqwbqC0FkLO3GwmHINnT6...,1140,"[""EUW1_6627879600"", ""EUW1_6627650874"", ""EUW1_6..."

In [17]:
# Connexion à la première base de données
conn = sqlite3.connect('database.db')
# Lire la table depuis cette base de données et l'afficher
df2 = pd.read_sql_query("SELECT * from participant", conn)

# Fermer la connexion à la première base de données
conn.close()

df2

Empty DataFrame
Columns: [puuid, matchId, gameDuration, teamId, totalDamageDone, win, totalMinionsKilled, lane, role, championName, goldEarned, deaths, assists, kills]
Index: []

In [18]:
# Connexion à la première base de données
conn = sqlite3.connect('database.db')

df3 = pd.read_sql_query("SELECT * from utilisateur", conn)
print(df3)
# Fermer la connexion à la première base de données
conn.close()

df3

Empty DataFrame
Columns: [id, login, password, isadmin]
Index: []

Empty DataFrame
Columns: [id, login, password, isadmin]
Index: []

In [5]:
import sqlite3, requests, json, time
import pandas as pd

api_key = input('API Key : ')

challengers_url = 'https://euw1.api.riotgames.com/lol/league/v4/challengerleagues/by-queue/RANKED_SOLO_5x5'
final_challengers_url = challengers_url + '?api_key=' + api_key

challengers_data = requests.get(final_challengers_url)
time.sleep(1.2)

joueurs = pd.DataFrame(challengers_data.json()['entries'])

joueurs[:100]

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak
0,1JlOA7XW6HBp6DX3MJE0L-Sk8ahpHlGoH5pHWveViYpj_7TE,platamon prodigy,1362,I,191,139,True,False,False,False
1,m0u7-CNh34KGnsEFST31565xSjcWdhXoAwd_bpY7lPcbAec,Rabble Arouser,1601,I,112,55,False,False,False,True
2,2YDwmOfoj3NdJ6erk3vKfV4p8lpfdWab2UuSN-_AxlsFAsQ,JL Urban,1061,I,216,177,False,False,True,True
3,-VEXj-jQlQjqHjJqoquMsNtlPfqZaD676L7rb6Lbn9BLGc8,SEITCARP,980,I,186,138,True,False,False,False
4,Wtt2k4g7lTflEjkiLvByzAyaEWxr_5ucSMCtCl25m7tZlII,Kenal,1425,I,241,190,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
95,qLWok5DmTfjeRHo5qGN75mf1YUTN7e1gZJWIU_iF73AdP4Mr,METROOOOOOOOO,1166,I,312,270,False,False,True,False
96,z45RKq9u3CYFBKbvvEdmUFVt-DI3QSJGHTC9z2856hFeeSo,swr,1035,I,271,233,False,False,True,False
97,NycK6xJSpfifKJ_HQ7Dnhieq3fqi06CmULjVvNm_Cw9CFi...,AFK JUNG,988,I,92,54,False,False,True,True
98,LvAHf8-hwY9hHk3aGRZSLlSNSL4yCfpZX_Ak1rpAlwwF9T...,IQW8HT,1012,I,99,54,False,False,False,False
99,v5vHrLJddjulsrIP1MV9XrGrvcxk59X1lFUTKJSAwupPersO,Revenge Mode,1013,I,220,182,False,False,True,True