In [3]:
import sqlite3
import pandas as pd

# Connexion à la première base de données
conn = sqlite3.connect('database.db')

# Lire la table depuis cette base de données et l'afficher
df1 = pd.read_sql_query("SELECT * from joueur", conn)
print(df1)

# Lire la table depuis cette base de données et l'afficher
df2 = pd.read_sql_query("SELECT * from participant", conn)
print(df2)

df3 = pd.read_sql_query("SELECT * from utilisateurs", conn)
print(df3)

# Fermer la connexion à la première base de données
conn.close()

                                           summonerId      summonerName  \
0    CYi9inPQJ_6FfbMlP92Kdf0RBwuH1VYmsGtgqU-VZ9f86lgr            T1 FSZ
1     SAUQa1Tf-cmundUP30CZD2rEFH71u6n2fYfBUa1jUcfF1JE        STEND 2026
2    7aKaSHFRX3v2b1tL7K54DfRSZr-fsxMCFMltwmpfgK1OZnte         EUSEUSEUS
3     cx5Y41rbI-NXin9wEdKfSHcsoOJQjqgdJokHSNcQpXa2oWU        JG top boy
4     CLSvhaSE7EK4uStlIEsfJ_8bsuV8yuhRNlbUcl_fd7Qan74             Shëun
..                                                ...               ...
295   TB7Ve6-aE6hqsIAYQsW0zB-SBgqmYClKjNF3Fdb3PXfXKio     l will engage
296   DGEeYSibge7Qej3eO09_gKqk7wX-iakBf1GqGl3bgt-08KE       BurgerMäker
297   L5xFfZN5JjT_jq5ch0NPBdtvkaG1jPBlzVlXI0agrbTGJK0   David Goggins 1
298  7JacGVSXeBJ1KVgoEVVuHpyIbLT55VSc5r0DHQt9agVUaF6q    Angel ôf Death
299   P7wlM187WR6qedFlGXhBXeGbHj1vfIPAIGRWSJOeZuFkoR8  MARIABECERRA FAN

     leaguePoints rank  wins  losses  veteran  inactive  freshBlood  \
0            1213    I   235     195        1         0           0
1            1221    I   277     240        0         0           0
2            1030    I   206     170        0         0           1
3            1520    I   287     232        1         0           0
4             987    I   178     123        0         0           1
..            ...  ...   ...     ...      ...       ...         ...
295          1159    I   259     229        1         0           0
296          1114    I    97      57        0         0           0
297          1182    I   216     180        1         0           0
298          1030    I   143     100        0         0           0
299          1173    I   243     206        0         0           0

     hotStreak                                              puuid  level  \
0            0  U6VZgygUjZjYtSegG71z-5cH5LwM334buqlKuxGxWgmvxO...    912
1            0  cnk9Di5MKnv2I0dfiDgefnoLDndqUVQRxeVv3i-0Hvzlk6...    509
2            1  fXKWiYuwwUPmmLpYgCkkhCCJ6EZhcsE3fwdxipaVWcFlFM...    744
3            0  4ltbTnb0922kWuJnZ-MW1uOL6fvVX6mcsYY2J1hzd-iCBo...    741
4            0  fDr_DSLyRaq0FSfyv21Y6CiQUqGhFoIXsoN6iUOG_ZGOaB...    260
..         ...                                                ...    ...
295          0  zNUjgaQMV8Y94KWx6K0GeEJtY-yBrOnsQNdnKdBO6BpanL...    732
296          0  TBgq5w6fhXiEdqJaSgXoCEVE0CQnoUxtXvt8cF4_zU7LpB...    498
297          1  opCiNF_LGEYPl2O7gZ9luoAfQN3oHHr9JrKh5oZGlJfOSV...    631
298          0  mybJzEDSurWd5JQFDmp12Q_x3lKvFpMOhVEAJ-dRBzGsPN...    102
299          0  xu53CWoV7UeRAuhvpEOHp97nrZqwbqC0FkLO3GwmHINnT6...   1140

                                               matches
0    ["EUW1_6627571462", "EUW1_6627524028", "EUW1_6...
1    ["EUW1_6627913011", "EUW1_6627833946", "EUW1_6...
2    ["EUW1_6627504160", "EUW1_6625296610", "EUW1_6...
3    ["EUW1_6627879600", "EUW1_6627722913", "EUW1_6...
4    ["EUW1_6624723668", "EUW1_6624688255", "EUW1_6...
..                                                 ...
295  ["EUW1_6627576227", "EUW1_6627440130", "EUW1_6...
296  ["EUW1_6626771490", "EUW1_6626526926", "EUW1_6...
297  ["EUW1_6624029372", "EUW1_6623973145", "EUW1_6...
298  ["EUW1_6608961762", "EUW1_6608883174", "EUW1_6...
299  ["EUW1_6627879600", "EUW1_6627650874", "EUW1_6...

[300 rows x 13 columns]

DatabaseError: Execution failed on sql 'SELECT * from participant': no such table: participant