In [11]:
import sqlite3
import pandas as pd

# Connexion à la première base de données
conn = sqlite3.connect('database.db')

# Lire la table depuis cette base de données et l'afficher
df1 = pd.read_sql_query("SELECT * from joueur", conn)
# Fermer la connexion à la première base de données
conn.close()

df1

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak,puuid,level,matches
0,wPpQwD2HnNTX4wKdNeSN055vA4FwI-afm9Z08Hdk7D1YND4,BOOSHI,1036,I,200,165,0,0,1,0,RssTgwDLo12PxUtzbnHAgrpnvgL-KLPdYTPOqL3NfDYh3_...,556,"[""EUW1_6649323823"", ""EUW1_6647629259"", ""EUW1_6..."
1,m0u7-CNh34KGnsEFST31565xSjcWdhXoAwd_bpY7lPcbAec,Rabble Arouser,1601,I,112,55,0,0,0,1,IVQUSFclMXETgheweRmdOmhmkSPc2s1iCz6jXQBHeV6jwf...,554,"[""EUW1_6637258281"", ""EUW1_6637209158"", ""EUW1_6..."
2,2YDwmOfoj3NdJ6erk3vKfV4p8lpfdWab2UuSN-_AxlsFAsQ,JL Urban,1061,I,216,177,0,0,1,1,-jFfX8xo2FYBkNhpd51eV-J8P16gKP-kh3aeHFQUme6iBW...,668,"[""EUW1_6647476001"", ""EUW1_6647435845"", ""EUW1_6..."
3,-VEXj-jQlQjqHjJqoquMsNtlPfqZaD676L7rb6Lbn9BLGc8,SEITCARP,980,I,186,138,1,0,0,0,uRXaaDyQTM9e_HogYmGaIqOcqiH9LF__08lyHRmlfyIQKO...,257,"[""EUW1_6645106952"", ""EUW1_6640772331"", ""EUW1_6..."
4,-R7GANkCspCbfzRMlaBE3wI7vx6y1Tsm6pDo5eZUfho_FEo,nozkk,1155,I,168,128,0,0,0,1,ldiCXaRus7otBjZlfOj3a0DKz8SDZH4HZvDEAR6lNwGBo-...,544,"[""EUW1_6649117504"", ""EUW1_6647279102"", ""EUW1_6..."

In [12]:
# Connexion à la première base de données
conn = sqlite3.connect('database.db')
# Lire la table depuis cette base de données et l'afficher
df2 = pd.read_sql_query("SELECT * from participant", conn)

# Fermer la connexion à la première base de données
conn.close()

df2

,puuid,matchId,gameDuration,teamId,totalDamageDone,win,totalMinionsKilled,lane,role,championName,goldEarned,deaths,assists,kills
0,5Xage6Rf1AORBu0ON_vISGXnGGialJvGxBqMwaQ_4tuXQ4...,EUW1_6649323823,1585,100,20454,1,188,JUNGLE,NONE,Fiora,11384,3,5,4
1,ldUBQxjBXSy-yKts2fIZh-DpvCwZByfwTzOqnZkJnlrbwN...,EUW1_6649323823,1585,100,15370,1,31,JUNGLE,NONE,Hecarim,11409,8,12,6
2,pCKsO_9kcihyHBIg1voMESAQltbzEaLFiBvxHDKjXdp7SF...,EUW1_6649323823,1585,100,21244,1,206,TOP,SOLO,Orianna,11820,2,16,6
3,jbUUOaQd9tovyO--WBQ3Q2xKUDgKsE3FnqQdm8vAX0qQRO...,EUW1_6649323823,1585,100,17893,1,209,BOTTOM,CARRY,Nilah,14605,5,7,11
4,VInYgYo1PfFOY96SngXMmOh_TkkT0WDdPGZugdcTRWVr9K...,EUW1_6649323823,1585,100,20740,1,30,BOTTOM,SUPPORT,Senna,12432,5,22,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,8GbJGgljjphyNYtwlPANilU4vacmSsP2PdjdBQoji9C0Uu...,EUW1_6647279102,1383,200,21897,1,203,TOP,CARRY,Gangplank,12093,2,6,3
96,4ltbTnb0922kWuJnZ-MW1uOL6fvVX6mcsYY2J1hzd-iCBo...,EUW1_6647279102,1383,200,23139,1,22,JUNGLE,NONE,Taliyah,12133,0,8,7
97,6Rh6f3lGwzvA5DvgtuFZxVbY8XsFcMs5kk2ngeNiDLTKP2...,EUW1_6647279102,1383,200,10943,1,234,MIDDLE,SOLO,Yone,11097,1,5,3
98,ldiCXaRus7otBjZlfOj3a0DKz8SDZH4HZvDEAR6lNwGBo-...,EUW1_6647279102,1383,200,15940,1,186,BOTTOM,SOLO,Kaisa,10895,0,3,8
99,_uXoXSLOCF24qteckZ3bHOqpxrDuWoVS2K6w6c2fRMTIe7...,EUW1_6647279102,1383,200,4458,1,32,TOP,SUPPORT,Rell,6435,2,14,0

In [9]:
# Connexion à la première base de données
conn = sqlite3.connect('database.db')

df3 = pd.read_sql_query("SELECT * from utilisateur", conn)
# Fermer la connexion à la première base de données
conn.close()

df3

     id  login                                           password  isadmin
0  None  teemo  b'\x0b\xbb\xe8\xf9\xbb\x94\xa7YdU\xb3V\xc0.\x9...        0
1  None  admin  b'!\n\x83\x1d\xb6,g\x0b:\x04\xf7a0\t{\xb37\xf0...        1

In [2]:
# import required module
from playsound import playsound
 
# for playing note.wav file
playsound('../../GODS.wav')
print('playing sound using  playsound')

playing sound using  playsound