In [15]:
import sqlite3
import pandas as pd

# Connexion à la première base de données
conn = sqlite3.connect('database.db')

# Lire la table depuis cette base de données et l'afficher
df1 = pd.read_sql_query("SELECT * from joueur WHERE summonerName = 'FAKER'", conn)
# Fermer la connexion à la première base de données
conn.close()

df1

,summonerId,summonerName,leaguePoints,rank,wins,losses,veteran,inactive,freshBlood,hotStreak,puuid,level,matches
0,T1,FAKER,None,GOAT,3,0,None,None,None,None,1,-1,

In [3]:
# Connexion à la première base de données
conn = sqlite3.connect('database.db')
# Lire la table depuis cette base de données et l'afficher
df2 = pd.read_sql_query("SELECT * from participant", conn)

# Fermer la connexion à la première base de données
conn.close()

df2

,puuid,matchId,gameDuration,teamId,totalDamageDone,win,totalMinionsKilled,lane,role,championName,goldEarned,deaths,assists,kills
0,iB5vCrG5f5bFxTUCMkYVAqLAqakhsolDUSRxJL9Gc6qlgn...,EUW1_6648462202,2043,100,16076,0,167,TOP,SOLO,Malphite,9397,5,7,0
1,kJlLIGIJglQmEtiAWVSzfpkNmlOi1T8CBAXtvD2oT_ht5g...,EUW1_6648462202,2043,100,21848,0,46,JUNGLE,NONE,Kindred,14439,5,5,6
2,RfW1Rt2NKGp8j8CCCFeni6ZUyhS0rL1u4Qa6lE7QJzf6Mg...,EUW1_6648462202,2043,100,19797,0,267,MIDDLE,SOLO,Tristana,15040,7,2,5
3,xEqdPTHkFjobth-Hq_KTD1QTxoCAr5DbWOrfUCoI05a8c9...,EUW1_6648462202,2043,100,18644,0,246,BOTTOM,CARRY,Seraphine,14153,4,7,6
4,y054I5SvukKw0wDQApRW8khwO1rwWX_0-k3Bc_WonZY0EK...,EUW1_6648462202,2043,100,7734,0,30,BOTTOM,SUPPORT,Rell,8389,5,14,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13505,YlzOsL5bePwJglJUvglKbv-qOeVbTaISP7P9bvX4JObbCh...,EUW1_6645511796,1734,200,19002,1,198,TOP,DUO,Teemo,10117,6,6,3
13506,Iwf4ddy7CsgJgEQesTEx-qUsjwSsQS2L9sQ82kAKxnlT-x...,EUW1_6645511796,1734,200,32058,1,48,JUNGLE,NONE,Lillia,14074,1,9,12
13507,H3QN29x-s79N9cEBNfhp0fooQaF5mdFty126HIASQkVDvi...,EUW1_6645511796,1734,200,20019,1,253,TOP,DUO,Renekton,12006,2,5,5
13508,zEQl2rtm20LWtmfhFaNX_qELrxIN_fUy-fdvHwxJhCl_l0...,EUW1_6645511796,1734,200,35812,1,244,BOTTOM,CARRY,Kaisa,15604,6,9,11
13509,-YKtghOw91WFlV-vGajMk17SKdBnG6B_Kilbg8eAavaX9h...,EUW1_6645511796,1734,200,8144,1,30,BOTTOM,SUPPORT,Rell,8875,2,23,3

In [4]:
# Connexion à la première base de données
conn = sqlite3.connect('database.db')

df3 = pd.read_sql_query("SELECT * from utilisateur", conn)
# Fermer la connexion à la première base de données
conn.close()

df3

,id,login,password,isadmin
0,None,thomas,"b'\xfc\xf27P\xbf?5\x05\xe3jo3*\x0b\x85%g\xb3g,...",0
1,None,bamara,b'\xe5\xb8\xf9\xd0<\x93\xe5^\x81\xc2\xde\x94\\...,0
2,None,test,b'\x1d\x11\x17\xbb)\xb8?>\x91\x82U\xe5\x92\x95...,0
3,None,charles,b'\x8b\xddT\xd5\x8c\xa8u\x81\xc7W\x88\xdb\xa6\...,0
4,None,test1,b'\xd4\x8d\xc8d\xb8\x84\x88\xd5\xad\xff\xa3\xb...,0
5,None,Shin,b'l~\xdb\x1fQ\xee\xd2?\x9b\xf8\xbd\xc7Y\xf0\xa...,0
6,None,bam,b'\x1b\x95\x82[\xe2\x1d\x86\xcc\xc0!\xd6\x82O\...,0
7,None,teemo,b'B\xab\xcc\xd4\xe3\x02\x9b\xf4w\x0cg&I\xebh|\...,0
8,None,teemo2,b'm\x80o\x9d\x14\xe3\xd8\xe4dV\x1c\x08&\xb7\x1...,0
9,None,teem,b'\xc6\xef\xf1@\x95Fw\xb9S;\xc1C\xd7V\xdc&I\x8...,0
10,None,best_user,b'\x19\x05\xa1$\xe8\xc3\n\x10\xd2i\xf1KH\xf1~\...,0
11,None,teemo_ultime,b'\xac\x85\xb3\r\x94\xfc\xa9\x00\xfe\x1fY\xb0\...,0

In [4]:
import sqlite3
import hashlib

conn = sqlite3.connect('database.db')
cursor = conn.cursor()

cursor.execute('INSERT INTO utilisateur (id, login, password, isadmin) VALUES (?,?,?,?)', (0, 'teemo', hashlib.pbkdf2_hmac('sha256', '1234'.encode('utf-8'), 'teemo'.encode('utf-8'), 100), 0))
conn.commit()
cursor.execute('INSERT INTO utilisateur (id, login, password, isadmin) VALUES (?,?,?,?)', (1, 'admin', hashlib.pbkdf2_hmac('sha256', 'admin'.encode('utf-8'), 'admin'.encode('utf-8'), 100), 1))
conn.commit()

In [5]:
# import required module
from playsound import playsound
 
# for playing note.wav file
playsound('../../GODS.wav')
print('playing sound using  playsound')

In [9]:
import requests,json

type(requests.get("https://euw1.api.riotgames.com/lol/summoner/v4/summoners/by-name/liony22?api_key=RGAPI-c2a57f81-82d1-410f-bc53-a4e9cbdf7b61").status_code)

int

In [12]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('database.db')
cursor = conn.cursor()

cursor.execute('INSERT INTO joueur (summonerId, summonerName, rank, wins, losses, puuid, level, matches) VALUES (?,?,?,?,?,?,?,?)',
                ("T1", "FAKER", "GOAT", "3", "0", "1", -1, ''))
conn.commit()