In [10]:
import sqlite3, json
import pandas as pd

In [11]:

# Connect to the SQLite database
conn = sqlite3.connect('../data/database.db')

# Read the table into a dataframe
df = pd.read_sql('SELECT * FROM joueur', conn)

# Convert the 'Scores' column back to a list
df['matches'] = df['matches'].apply(json.loads)

# Close the connection
conn.close()

In [12]:

# Extraire les deux premiers éléments de chaque liste
df['matches'] = df['matches'].apply(lambda x: x[:2])

# Aplatir la colonne
liste_aplatie = df.explode('matches')['matches'].unique().tolist()

423